<%= link_to "Operations Dashboard", "/", :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav pull-right">
    <li>
    <%= link_to('Event Viewer', '/events/index') %>
    </li>
  </ul>
</div>
