<%= link_to "Operations Dashboard", "/", :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav">
    <li class="active">
      <a href="#">Dashboard</a>
    </li>
    <li>
    <%= link_to('Event Viewer', '/events/index') %>
    </li>
  </ul>
</div>
