<%= link_to "Operations Dashboard", "/", :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav">
    <li class="active">
      <a href="#">Dashboard</a>
    </li>
    <li>
    <%= link_to('Zones', '/zones/index') %>
    </li>
    <li>
    <%= link_to('Events', '/events/index') %>
    </li>
  </ul>
</div>
